<div class="disk-usage-widget">
    <div class="summary">
        {{ 'Disk usage: {used} / {total}'|t('disk-usage-widget', params={used, total}) }}
    </div>
    <div class="progress {{ isOverSoftLimit ? 'critical' }}">
        <div class="track">
            <div class="indicator" style="width: {{ usedPercentage * 100 }}%"></div>
            {% if softLimit < total %}
                <div class="soft-limit {{ isOverSoftLimit ? 'light' : 'dark' }}"
                     style="left: {{ softLimitPercentage * 100 }}%" data-soft-limit="{{ softLimit }}"
                     title="{{ 'Soft-limit: {amount}'|t('disk-usage-widget', params={amount: softLimit}) }}"
                ></div>
            {% endif %}
        </div>
    </div>
</div>
