{% import "_includes/forms" as forms %}

<div id="{{ id }}" class="disk-usage-widget-settings {{ widget.areQuotasUsed ? 'disk-usage-widget-settings--with-disk-quotas' }}">
    {{ forms.lightswitchField({
        label: 'The server uses disk quotas'|t('disk-usage-widget'),
        id: 'areQuotasUsed',
        name: 'areQuotasUsed',
        on: widget.areQuotasUsed,
        instructions: 'If the server uses disk quotas, the output of the <code>quota</code> command can be used to display more acurate information.'|t('disk-usage-widget'),
        errors: widget.getErrors('directory'),
    }) }}

    <fieldset class="disk-usage-widget-settings__disk-quotas-settings">
        {{ forms.textField({
            label: 'Partition'|t('disk-usage-widget'),
            id: 'partition',
            name: 'partition',
            value: widget.partition,
            required: true,
            instructions: 'The widget will display the disk usage in the partition in which this partition resides.'|t('disk-usage-widget'),
            errors: widget.getErrors('partition'),
        }) }}
    </fieldset>

    <fieldset class="disk-usage-widget-settings__no-disk-quotas-settings">
        {{ forms.textField({
            label: "Directory"|t('disk-usage-widget'),
            id: 'directory',
            name: 'directory',
            value: widget.directory ?? alias('@root'),
            required: true,
            instructions: 'The widget will display the disk usage in the partition in which this directory resides.'|t('disk-usage-widget'),
            errors: widget.getErrors('directory'),
        }) }}

        {{ forms.textField({
            label: "Soft limit"|t('disk-usage-widget'),
            id: 'soft-limit',
            name: 'softLimit',
            value: widget.softLimit,
            required: true,
            instructions: 'A disk usage amount (ex: 16Gb). When this amount of disk usage is reached, the indicator will be shown in red.'|t('disk-usage-widget'),
            errors: widget.getErrors('directory'),
        }) }}
    </fieldset>
</div>
